{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block top_heading %}
    <h1 class="h3 mb-0 text-gray-900">Change Password</h1>
{% endblock %}
{% block content %}

<section class="card ml-3">
    <div class="card-body d-flex align-items-center justify-content-center">
        <form method="post">
            {% csrf_token %}
            <p>
                <label for="id_old_password">Old password:</label>
                <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" class="form-control" class="custom-input">
            </p>

            <p>
                <label for="id_new_password1">New password:</label>
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control" class="custom-input">
                <span class="helptext">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </span>
            </p>

            <p>
                <label for="id_new_password2">New password confirmation:</label>
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control" class="custom-input">
            </p>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>

        <div class="h6 text-bg-danger">
            {% if messages %}
                {{ messages.last }}
            {% endif %}
        </div>
    </div>
</section>

<style>
    .custom-input {
    color: #495057;
}

</style>
{% endblock %}
