{% extends 'account/base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}

    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                <p class="mb-4">We get it, stuff happens. Just enter your email address below
                    and we'll send you a link to reset your password!</p>
            </div>
            <div>
                {% for msg in messages %}
                    <p id="message" class="error-message">{{ msg }}</p>
                {% endfor %}
            </div>
            <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" class="form-control form-control-user"
                           id="email" name="email" aria-describedby="emailHelp"
                           placeholder="Enter Email Address...">

                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Reset Password
                </button>
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="{% url 'signup' %}">Create an Account!</a>
            </div>
            <div class="text-center">
                <a class="small" href="{% url 'login' %}" >Already have an account? Login!</a>
            </div>
        </div>
    </div>
    <script>
        // Display the message for 5 seconds and then hide it
        setTimeout(function() {
            var message = document.getElementById('message');
            if (message) {
                message.style.display = 'none';
            }
        }, 5000);
    </script>
    <style>
        .error-message {
            color: red;
            background-color: #ffe6e6;
            padding: 10px;
            border: 1px solid #ff9999;
            border-radius: 4px;
        }
    </style>
{% endblock %}