
{% extends 'account/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

    <div class="col-lg-6">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Login</h1>
                </div>
                <div>
                    {% for msg in messages %}
                        <p id="message" class="error-message">{{ msg }}</p>
                    {% endfor %}
                </div>
                <form class="user" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="username"
                               name="username" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-user"
                               id="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">Remember
                                Me</label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
                </form>
                <hr>
                <div class="text-center">
                    <a class="small" href="{% url 'forgot_password' %}">Forgot Password?</a>
                </div>
                <div class="text-center">
                    <a class="small" href="{% url 'signup' %}">Create an Account!</a>
                </div>
            </div>

        </div>

    <script>
        // Display the message for 5 seconds and then hide it
        setTimeout(function() {
            var message = document.getElementById('message');
            if (message) {
                message.style.display = 'none';
            }
        }, 5000);
    </script>
    <style>
        .error-message {
            color: red;
            background-color: #ffe6e6;
            padding: 10px;
            border: 1px solid #ff9999;
            border-radius: 4px;
        }
    </style>

{% endblock %}
